.headerAlbum {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: gray(6);
    gap: 10px;
    place-items: center;
    padding: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    max-width: 375px;
    max-height: 250px;
  }
  
  @media only screen and (min-width: 576px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media only screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media only screen and (min-width: 992px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  